{% extends 'base.html' %} {% block content %}
<style>
  .form-label {
    font-size: 30px;
  }
  .card {
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px 0 rgba(78, 115, 223, 0.5);
    color: white;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    display: flex;

    flex-wrap: wrap;
  }
  .box {
    position: relative;
  }
  .submit_button {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
  }
</style>
<div class="container-fluid">
  <div class="container mt-5">
    <h2 class="text-center">Delete Leave</h2>
    <div class="card">
      <i style="color: var(--success)" class="card-text text-center"
        >{{leave.created|timesince}} ago</i
      >
      <br />
      <h4 class="card-title text-center">
        {{leave.from_user.first_name|capfirst}}
        {{leave.from_user.last_name|capfirst}}
      </h4>
      <h5 class="card-text text-center">
        {{leave.start_date|date:"Y-m-d"}} to {{leave.end_date|date:"Y-m-d"}}
      </h5>

      <p class="card-text text-center">
        To: {{leave.to_user.first_name|capfirst}}
        {{leave.to_user.last_name|capfirst}}
      </p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p class="card-text text-center">
            Type: {{leave.leave_type|capfirst}}
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="card-text text-center">Days: {{leave.total_leave_days}}</p>
        </div>
      </div>
    </div>
    <form id="deleteActivity" action="" method="POST">
      {% csrf_token %}
      <br />
      <div class="box">
        <div class="mb-6 text-center">
          <label class="form-label">Are You Sure?</label>
        </div>

        <div class="submit_button">
          <button id="submit" type="submit" class="btn btn-danger">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
