{% extends 'base.html' %} {% block content %} {% load static %}

<style>
  #projectName,
  #activityName {
    width: 100%;
    border: 5px inset;
  }
</style>

<div class="container mt-5">
  <h1 class="text-center mb-3">{{ date }}</h1>
  <br />
  {% if not is_holiday %} {% if can_edit %}
  <div class="row">
    <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-xs-12">
      <!-- Add Activity Section -->

      <div class="mb-3">
        <h2 class="text-center">Add Activity</h2>

        <div class="mb-3">
          <label for="projectName" class="form-label">Project</label>
          <br />
          <select
            class="form-select"
            id="projectName"
            name="projectName"
            required
          >
            <option disabled selected value>-- select an option --</option>
            {% for project in projects %}
            <option value="{{ project.project_name }}">
              {{ project.project_name }}
            </option>
            {% endfor %}
          </select>

          <br />
          <div class="mb-3">
            <label for="activityName" class="form-label">Activity Type</label>
            <br />
            <select
              class="form-select"
              id="activityName"
              name="activityName"
              required
            >
              <option disabled selected value>-- select an option --</option>
              {% for activity in activities %}
              <option value="{{ activity.activity_name }}">
                {{ activity.activity_name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="details" class="form-label">Details</label>
          <em style="color: orange">optional</em>
          <textarea
            class="form-control"
            id="details"
            name="details"
            placeholder="Input Details.."
            wrap="off"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="decimalInput" class="form-label">Hours</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter Hours.."
            required
            oninput="checkNumberValidity()"
            id="quantity"
            name="quantity"
            min="0"
            max="8"
            step="0.5"
            pattern="\d+(\.\d{1,2})?"
          />
        </div>
        <div class="text-center">
          <button id="addactivity" class="btn btn-primary">Add Activity</button>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-xl-7 col-md-12 col-sm-12 col-xs-12">
      <!-- Activity Logs Section -->

      <!-- Adjusted column width -->
      <div class="table-responsive">
        <h2 class="float-left mb-3">Activity Logs</h2>
        <br />
        <h2 id="total-hours" class="float-right">{{ total|floatformat }}h</h2>
        <table class="table table-striped">
          <!-- Added custom class -->
          <thead class="table-head-color">
            <tr>
              <th>Project</th>
              <th>Activity Type</th>
              <th>Hours</th>
              <th>Date</th>
              <th>Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="existing-entries">
            <!-- Existing entries will be displayed here -->
            {% for entry in entry_logs %}
            <tr>
              <td>{{entry.project}}</td>
              <td>{{entry.activity}}</td>
              <td>{{entry.hours_worked|floatformat}}h</td>
              <td>{{entry.date|date:"d-M-Y"}}</td>
              <td>{{entry.details}}</td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
          <!-- New entries will be added here dynamically -->
          <tbody class="new-entries"></tbody>
        </table>
      </div>
      <div class="text-center mt-3">
        <button
          id="save-button"
          class="btn btn-primary"
          style="background-color: var(--primary)"
        >
          Save
        </button>
      </div>
    </div>
    {% else %}
    <div class="no-edit-warning">
      <h1 class="text-center mb-3">
        Entering data for future dates or previous months is not permitted.
      </h1>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Activity Logs Section -->

      <!-- Adjusted column width -->
      <div class="table-responsive">
        <h2 class="float-left mb-3">Activity Logs</h2>
        <br />
        <h2 id="total-hours" class="float-right">{{ total|floatformat }}h</h2>
        <table class="table table-striped">
          <!-- Added custom class -->
          <thead class="table-head-color">
            <tr>
              <th>Project</th>
              <th>Activity Type</th>
              <th>Hours</th>
              <th>Date</th>
              <th>Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="existing-entries">
            <!-- Existing entries will be displayed here -->
            {% for entry in entry_logs %}
            <tr>
              <td>{{entry.project}}</td>
              <td>{{entry.activity}}</td>
              <td>{{entry.hours_worked|floatformat}}h</td>
              <td>{{entry.date|date:"d-M-Y"}}</td>
              <td>{{entry.details}}</td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
          <!-- New entries will be added here dynamically -->
          <tbody class="new-entries"></tbody>
        </table>
      </div>
      <div class="text-center mt-3">
        <button
          id="save-button"
          class="btn btn-primary"
          style="background-color: var(--primary)"
        >
          Save
        </button>
      </div>
    </div>
    {% endif %} {% else %}
    <div class="no-edit-warning">
      <h1 class="text-center mb-3 no-edit-warning">It's a Holiday, Chill</h1>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %} {% block js %} {{ block.super }}
<!--SECURE DATA TO JS-->
{{ total|json_script:"total" }} {{ date|json_script:"date" }}
{{request.user.daily_hours|json_script:"daily_hours"}}{{request.scheme|json_script:"scheme"}}
{{ request.get_host|json_script:"get_host" }}
<script src="{% static 'js/registerpage.js' %}"></script>
{% endblock %}
