body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* text-primary  changed to #5e5a97 in sb-admin min and sb-admin*/
/* bg-gradient-primary */
/* a {} and .bg-white  #2c3e50*/
.toast-container {
  color: #ffffff;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 400px;
  z-index: 2000;
  background-color: #0000;
  border: 0px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0.7;
}

#calendar {
  color: white;
  width: 100%;
  border: 1px solid rgb(222 223 233);
  max-width: 1300px;
  max-height: 500px;
  height: 100%;
  margin: 0 auto;
  background-color: #f7f9ff;
  box-shadow: 10px 10px 10px 10px rgb(222 223 233);
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid rgb(222 223 233) !important;
}

.fc-header-toolbar.fc-toolbar {
  background-color: var(--primary);
}

#calendar a {
  color: var(--primary);
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: #c6e3ff;
}
.fc-daygrid-day-frame {
  color: white;
}
.fc .fc-scrollgrid-liquid {
  border: 1px solid var(--background-color-main);
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid var(--primary);
}

.legend {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.legend .color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.legend-text {
  display: flex;
  align-items: center;
}
.least {
  background-color: RGB(113, 155, 161);
}
.middle {
  background-color: RGB(99, 136, 199);
}
.most {
  background-color: RGB(43, 166, 98);
}

.holidays {
  background-color: rgb(173, 46, 42);
}
.leaves {
  background-color: rgb(49, 97, 120);
}
.weekends {
  background-color: rgb(222, 223, 233);
}
.legend-rowl .col {
  margin-top: 10px;
  display: flex;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

#addactivity {
  background-color: var(--primary);
}
.no-edit-warning {
  width: 80%;
  margin: auto;
  color: #e74a3b;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  min-height: 100px;
  line-height: 1.5em;
  padding: 1em;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background: hsla(67, 95%, 95%, 1);
  border: solid 5px #e74a3b;
}

.wrapper-filter {
  position: relative;
  display: inline-block;
}

.wrapper-filter:before {
  content: "\f0b0"; /* Unicode value for the filter icon in Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Font Awesome 5 */
  font-weight: 900; /* Font weight for solid icons */
  font-size: 1em; /* Adjust the size as needed */
  color: #fff; /* Icon color */
  position: absolute;
  right: 20px; /* Adjust the position as needed */
  top: 75%;
  transform: translateY(-50%);
}
.card-body-activity,
.card-body-projects {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-border-left-excel {
  border-left: 0.25rem solid var(--primary) !important;
}
.card-border-bottom-excel {
  border-bottom: 0.25rem solid var(--primary) !important;
}

.card-border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}
.card-border-bottom-success {
  border-bottom: 0.25rem solid #1cc88a !important;
}
.card-border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}

.card-border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.card-border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.card-border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}

.card-border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}

.card-border-left-light {
  border-left: 0.25rem solid brown !important;
}

.card-border-left-dark {
  border-left: 0.25rem solid #5a5c69 !important;
}

.container-update-register,
.container-update-leave {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; /* Ensures items stack vertically */
  height: 90vh; /* Adjust as needed */
}

.submit-update-btn {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-head-color {
  background-color: var(--primary);
  color: white;
  width: 100px;
}
canvas {
  background-color: whitesmoke;
  border-radius: 15px;
}
