{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  .user-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  span.error {
    color: red;
    font-size: 15px;
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
  }
  span.error li {
    color: red;
    font-size: 15px;
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
  }
  span.help {
    color: orange;
    font-size: 15px;
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
  }
  span.help li {
    color: orange;
    font-size: 15px;
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>
<div class="container">
  <h2>Edit Holiday</h2>
  <form method="POST" action="" class="user-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ holiday.holiday_name.id_for_label }}">Holiday Name</label>
      <input
        type="text"
        name="holiday_name"
        id="holiday_name"
        value="{{holiday.holiday_name}}"
        required
      />
      <span class="help">{{ holiday.holiday_name.help_text }}</span>
      <span class="error">{{ holiday.holiday_name.errors }}</span>
    </div>

    <div class="form-group">
      <label for="{{ holiday.holiday_name.id_for_label }}">Holiday Date</label>
      <input
        type="date"
        name="holiday_date"
        id="holiday_date"
        value="{{holiday.holiday_date|date:'Y-m-d'}}"
        required
      />
      <span class="help">{{ holiday.holiday_date.help_text }}</span>
      <span class="error">{{ holiday.holiday_date.errors }}</span>
    </div>
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Edit Holiday</button>
    </div>
  </form>
</div>

<script type="text/javascript">
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Enter holiday name..";

  $(function () {
    $("#holiday_date").datepicker({ dateFormat: "yy-mm-dd" }).val();
  });
</script>

{% endblock %}
