.flatpickr-calendar {
  z-index: 10000; /* Increase z-index to ensure calendar appears above other elements */
}
.container-addleave {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; /* Ensures items stack vertically */
  height: 90vh; /* Adjust as needed */
}
.flatpickr-day.selected.startRange,
.flatpickr-day.selected.endRange {
  background-color: #4caf50 !important; /* Change background color of selected range */
  color: #fff !important; /* Change text color of selected range */
}

.form-check-input {
  /* Adjust the width and height to make the circle bigger */
  width: 24px;
  height: 24px;
}

/* Optional: Center the circle vertically */
.form-check-input {
  vertical-align: middle;
}
.form-check-label {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px;
}
.submitBtn {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#submitBtn {
  background-color: var(--primary);
}
